body {font-family: monospace;}

.sequence-container {
  background-color:var(--bs-secondary-bg);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
}

.section-header {
  text-align: left;
  padding-bottom: 0rem;
}

.group-box {
  text-align: left;
}

.sequence-row {
  margin-top: 0rem;
  //padding: -2rem;
 }

.img-box {
  padding: .25rem;
  //padding-bottom: 0rem;
}

.gallery-img {
  padding-bottom: 0rem;
  //box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px hsl(220deg 50% 50% / 0.333), 
  3px 6px 9px hsl(220deg 0% 50% /   0.333);
}

#modalMainImage {
  max-height: 75vh;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px; 
}

.img-description {
  font-size: 0.75rem;
  color: #6c757d; 
  font-style: italic;
  padding-bottom: 1rem;
 }

.thumbnail-img {
  max-height: 100px;
  cursor: pointer;
  //margin: 0.25rem;
  border: 2px solid transparent;
  border-radius: 3px;
}

.thumbnail-img:hover {
  border-color: #000000;
}